<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    <meta name="author" content="Klokan Technologies GmbH" />
    <meta name="description" content="{{ description }}" />
    <meta name="theme-color" content="#115e94">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.17.1/ol.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.17.1/ol.css" rel="stylesheet" />
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.22.1/mapbox-gl.js"></script>
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.22.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://klokantech.github.io/javascript/kt.js"></script>
    <link href="{{ site.baseurl }}base.css" rel="stylesheet" />
    <script type="text/javascript" src="{{ site.baseurl }}js/search.js"></script>
  </head>
  <body {% if page.url == "/" %}class="home"{% endif %} >
    <div class="container">
      <div id="navbar-top">
        <div class="container">
          <a class="title" href="/"><span>OSM</span>Names</a>
          <div class="nav">
            <a href="{{ site.baseurl }}">Search</a>
            <a href="{{ site.baseurl }}about">About</a>
            <a href="{{ site.baseurl }}download">Download</a>
            <a href="{{ site.baseurl }}docs">Docs</a>
            <a href="https://github.com/klokantech/osmnames">
              <img class="octocat" src="/img/GitHub-Mark-Light-32px.png" alt="Github">
            </a>
          </div>
          <div class="nav-mobile">
            <div id="nav-mobile-btn">H</div>
            <div id="nav-mobile-nav">
              <a href="{{ site.baseurl }}">Search</a>
              <a href="{{ site.baseurl }}about">About</a>
              <a href="{{ site.baseurl }}download">Download</a>
              <a href="{{ site.baseurl }}docs">Docs</a>
              <a href="https://github.com/klokantech/osmnames">
                <img class="octocat" src="/img/GitHub-Mark-Light-32px.png" alt="Github">
              </a>
            </div>
          </div>
        </div>
      </div>

      {{ content }}

    </div>
  </body>
</html>
