---
layout: default
---

<div class="row">
  <div class="col12 banner-page">
  </div>
</div>
<div class="row">
  <div class="col12 height-60 bg-gray-light">
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col12">

      {{ content }}

    </div>
  </div>
  <div class="row center pady-2 bordertop-gray-light borderbottom-block logos">
    <h2 class="center padb-4">Project Partners</h2>
    <div class="col6">
      <a href="http://www.klokantech.com/">
        <img src="/img/klokantech-logo.png" alt="Klokan Technologies">
      </a>
    </div>
    <div class="col6">
      <a href="http://www.ifs.hsr.ch/Geometa-Lab.12520.0.html">
        <img src="/img/hsr-logo.png" alt="Geometalab HSR">
      </a>
    </div>
  </div>
  <div class="row center pady-4">
    <div class="col9 offset1">
      <p>Do you need <a href="http://www.klokantech.com/contact">
          commercial support</a>, customization or help with deployment of the geocoder on your server or setup of the autocomplete service or 
        <a href="http://maps.klokantech.com/">map tile hosting</a>? 
        <a href="http://www.klokantech.com/contact">Contact us</a>.</p> 
    </div>
  </div>
  <div class="container bordertop-gray-light center">
    <p class="padt-3">OSMNames project is maintained by the
      <a href="https://github.com/osmnames/osmnames">OSM community</a>,
      <a href="https://github.com/geometalab">Geometa Lab HSR</a> and
      <a href="http://www.klokantech.com/">Klokan Technologies</a></p>
  </div>
</div>

